*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #1e1e1e;
}
.header-nav{
    background-image: url("https://i.ibb.co/WDxdTrg/Header-Background-Img.png");
    /*
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/cacfadb7-c017-4318-85e4-7f46da1cae88/e43aa8b1-ea06-46a5-abe3-df13243e718d/IN-en-20240603-popsignuptwoweeks-perspective_alpha_website_small.jpg");
    */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.header-nav{
    width: 90%;
    height: 80vb;
    margin: 8px auto;
    color: #dadada;
    background-color: black;
}
.enjoy, .download, .watch{
    width: 90%;
    height: 65vb;
    margin: 8px auto;
    color: #dadada;
    background-color: black;
}
.navbar{
    position: relative;
    left: 0;
}
.navbar a{
    display: flex;
    flex-direction: row-reverse;
}
.navbar .nav{
    float: left;
}
#nav img{
    width: 350px;
    position: relative;
    right: 800px;
    top: -35px;
}
.nav{
    position: absolute;
    top: 25px;
    left: 300px;
    width: 30%;
    margin-left:50% ;
}
.nav ul{
    list-style-type: none;
}
.nav ul > li a{
    text-decoration: none;
}
#english{
    background-color: black;
    color: rgb(112, 106, 106);
    border: 1px solid white;
}
#english:hover{
    color: rgb(255, 239, 239);
}
li > a{
    float: left;
    margin-left: 40px;
    margin-right: 0;
}
li > a > button{
    background-color: red;
    color:  rgb(48, 45, 45);
    font-size: large;
    font-weight: bolder;
    padding: 8px;
    border-radius: 8px;
}
li > a > button:hover{
    color: white;
}
.header-body{
    width: 50%;
    margin: 20px auto;
    font-family: 'Arial Rounded MT Bold';
    padding: 2px;
    position: flex;
    flex-direction: column;
    text-align: center;
}
.header-body > h1{
    font-size: 3em;
}
.header-body > p{
    font-size: 1em;
}
.submitted{
    width: 720px;
    height: 40px;
    margin: 15px auto;
    border: 0;
    background-position: center;
}
.submitted input, .submitted button{
    float: left;
}
.submitted input{
    width: 420px;
    height: 38px;
    border:1.3px solid ;
    padding: 1px 2px;
}
.submitted button{
    width: 248px;
    height: 39px;
    margin: 0;
    font-size: large;
    border:1.3px solid black;
    padding: 1px 6px;
    background-color: red;
    font-size: large;
}
.submitted button:hover{
    color: rgb(255, 240, 240);
}
.enjoy, .download, .watch{
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}
.enjoy-data {
    width: 25%;
}
.faq{
    width: 90%;
    height:fit-content;
    margin: 8px auto;
    color: #dadada;
    padding: 50px 50px 10px;
    background-color: black;
}
.faq-heading h1{
    margin: 25px 5px;
    text-align: center;
}
.faq-data{
    width: 50%;
    margin: 1px auto;
}
.faq-data > p{
    margin: 6px;
    font-size: 17px;
}
#faq-one, #faq-two, #faq-three, #faq-four, #faq-five, #faq-six{
    margin: 0;
}
#faq-one > a, #faq-two > a, #faq-three > a, #faq-four > a, #faq-five > a, #faq-six > a{
    display: block;
    width: 550px;
    padding: 10px;
    font-size: 1.2em;
    text-decoration: none;
    margin: 8px auto;
    color: white;
    background-color: #422c2c;
}
#faq-one > p, #faq-two > p, #faq-three > p, #faq-four > p, #faq-five > p, #faq-six > p{
    border: 1px solid none;
    border-radius: 2px;
    width: 550px;
    padding: 10px;
    font-size: large;
    color: white;
    background-color: #422c2c;
}
.faq > .submittedd{
    width: 70%;
    height: max-content;
    padding: 0 0 50px 0;
    margin: 20px auto 10px;
    border: 0;
    overflow: hidden;
    background-position: center;
}
.submittedd > input, .submittedd > a{
    float: inline-start;
}
.submittedd > input{
    display: block;
    width: 65%;
    padding: 8px;
}
.submittedd > a{
    text-decoration: none;
    color: black;
    background-color: red;
    display: block;
    width: 35%;
    cursor: pointer;
    font-size: 23px;
    text-align: center;
    padding: 3px;
}
.submittedd a:hover{
    color: white;
}

.all-links-section{
    width: 90%;
    height: max-content;
    margin: 8px auto;
    color: #dadada;
    background-color: black;
    padding: 5em;
    font-size: 15px;
    font-weight: lighter;
}
.all-links-section > h4{
    position: relative;
    left: 7%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
h4 > #phone{
    padding-left: 10px;
    color: white;
}
.all-links{
    display: flex;
    justify-content:space-around;
}
.all-links-one > ul, .all-links-two > ul, .all-links-three > ul, .all-links-four > ul{
    list-style-type: none;
}
.all-links-one > ul a, .all-links-two > ul a, .all-links-three > ul a, .all-links-four > ul a{
    padding: 8px 0;
    text-decoration: none;
    margin: 5px 0;
    color: white;
    text-decoration: underline;
}
.all-links-one > ul li{
    padding: 0;
}
.all-links-section > .drop-down-list{
    position: relative;
    left: 5%;
    margin-top: 10px;
    padding:20px;
}
.drop-down-list > #language{
    padding: 10px;
    border-radius: 2px;
    font-weight: 2.2em;
    font-size: 12px;
}



#footer{
    width: 90%;
    height: max-content;
    margin: 0 auto;
    padding: 10px;
    color: #dadada;
    background-color: black;
}
#footer p{
    text-align: center;
}


